[Desktop Entry]
Type=Application
Name=MieSimulatorGUI
Comment=MieSimulatorGUI by Virtual Photonics
Exec=MieSimulatorGUI_continuous
Icon=MieSimulatorGUI
Categories=Science;