[Desktop Entry]
Type=Application
Name=MieSimulatorGUI
Comment=MieSimulatorGUI by Virtual Photonics
Exec=MieSimulatorGUI_v1_2
Icon=MieSimulatorGUI
Categories=Science;
URL=https://virtualphotonics.org/