[Desktop Entry]
Type=Application
Name=MieSimulatorGUI
Comment=MieSimulatorGUI by Virtual Photonics
Exec=MieSimulatorGUI_v1_3
Icon=MieSimulatorGUI
Categories=Science;