name: Qt Test CI
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.2.4' 

      - name: Build and Run Tests
        run: 
          qmake ../MieSimulatorGUI.pro
          make -j$(nproc)
          ./test/MieSimulatorGUI_test
