name: Qt Test CI
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install mesa-common-dev
          sudo apt-get install build-essential
          sudo apt-get install -y libxcb-cursor0 xvfb 

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.2.4' 

      - name: Build
        run: |
          mkdir build && cd build
          qmake ../MieSimulatorGUI.pro
          make -j$(nproc)

      - name: Run Tests
        run: |
          # Use xvfb-run to provide a virtual screen for the widgets-based tests
          cd build/test
          chmod +x MieSimulatorGUI_test
          xvfb-run ./MieSimulatorGUI_test
